.quotespage{
    background-image: url(../../img/jeremy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-color: #eaede9;

  display: flex;
  justify-content: center;
    align-items: center;

    &__subtext{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__text{
        font-size: 30px;
        text-align: center;
    }
    &__btn{
        margin-top: 5%;
        font-size: 24px;
        padding: 2% 5%;
        border: none;
        width: 40%;
        border-radius: 20px;
    }
}